.main-page {
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
}

.back-image {
    width: 100%;
    height: 100vh;
}

.left-image {
    position: absolute;
    width: 30%;
    height: 550px;
    left: 0px;
}

.right-image {
    position: absolute;
    width: 30%;
    height: 500px;
    right: 0px;
}

.love-image {
    position: absolute;
    width: 20%;
    height: 100px;
    top: 250px;
    left: 450px;
}

.comeby-image {
    position: absolute;
    width: 30%;
    height: 50px;
    top: 180px;
    left: 400px;
}

.logo-image {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 520px;
}

.dog-image {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 45px;
    left: 535px;
    background-color: yellow;
    /* border: 2px solid red; */
    border-radius: 80px;

}